.page-title {
  text-align: center;
  color: #1d3557;
}
h1 {
  margin: 20px;
}
.app{
  background-color: #264653;
  background-image: url("./cold\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center;
  width: 480px;
  height: 800px;
  border-radius: 10px;
}
body {
  display: flex;
  justify-content: center;
}

.app.warm {
    background-image: url('./warm\ \(1\).png');
    color:white;
  }
